name: Action on Pull Request
on:
  pull_request:
    types:
      - opened
jobs:
  run_if:
    if: startsWith(github.head_ref, 'dependabot/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPOSITORY: ${{ github.repository }}
      - run: echo "Renaming branch from $GITHUB_REF_NAME to $DEPENDABOT=$GITHUB_SHA"
      - run: gh api repos/novakps/$GH_REPOSITORY/branches/$GITHUB_REF_NAME/rename -F new_name=DEPENDABOT-$GITHUB_SHA
